
.listInput{}
.todoList{
    display: inline-block;
}
.todoList__container{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.buttonGroup{
    display: inline-block;
}


.todoList__inputTitle{
    border: 2px solid red;
    display :inline-block;
}
.errorMessage{
    color:red;
}
.Button{
    display: flex;
    align-items:center;
    gap: 10px;
    outline: none;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    color:gray;
    position: absolute;
    right: -30px;
    top: -10px;
}

.todoList__title{
    position: relative;
    font-size: 20px;
}

.filterBtn{
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    color:rgba(0, 0, 0, 0.8);
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
}
.filterBtnGroup{
    display: flex;
    align-items: center;
}