
.listInput{}
.todoList{
    padding: 20px;
    display: inline-block;
}
.todoList__container{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.buttonGroup{
    display: inline-block;
}
.todoList__title{
}

.todoList__inputTitle{
    border: 2px solid red;
    display :inline-block;
}
.errorMessage{
    color:red;
}
Button.btn{
    color:red;
    background: green;
}